@page
@model EventHorizon.Pages.AttendeePages.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>Attendee</h4>
<hr />

@if (!string.IsNullOrEmpty(Model.ErrorMessage) && Model.FormError)
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>

}
<div class="row">
    <div class="col-md-4">
        <form asp-page="Register" method="post">
            <div class="form-group">
                @* asp-for, taghelper för modelbinding. asp-for avgör också TYPEN av input baserat på
                    typen Attendee.Name har.
                *@
                <label asp-for="Attendee.FullName"></label>
                <input asp-for="Attendee.FullName" class="form-control" />
                <span asp-validation-for="Attendee.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendee.Email">Epost</label>
                <input asp-for="Attendee.Email" class="form-control" />
                <span asp-validation-for="Attendee.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendee.PhoneNumber">Telefon</label>
                <input asp-for="Attendee.PhoneNumber" class="form-control" />
                <span asp-validation-for="Attendee.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Register"/>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @* Convention_ Feedback siktar på OnPostFeedback. *@
        <form asp-page-handler="Feedback" method="post">
            <div class="form-group">
                <label>Vad tycker du om vadsom? Vi vill veta!</label>
                <textarea name="message" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-secondary" value="Register" />
            </div>
        </form>
    </div>
</div>
