@page
@model EventHorizon.Pages.AttendeePages.RegisterModel

@{
    ViewData["Title"] = "Register";
    var r = new Random();

    var c = r.Next(9999);
}

<h1>Register</h1>

<h4>Attendee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-page="Register" method="post">
            <div class="form-group">
                @* asp-for, taghelper för modelbinding. asp-for avgör också TYPEN av input baserat på
                    typen Attendee.Name har.
                *@
                <label asp-for="RegisterViewModel.Email"></label>
                <input asp-for="RegisterViewModel.Email" class="form-control" value="testVal@(c)@@email.com"/>
                <span asp-validation-for="RegisterViewModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterViewModel.Password"></label>
                <input asp-for="RegisterViewModel.Password" class="form-control" value="sdfADF234!¤"/>
                <span asp-validation-for="RegisterViewModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisterViewModel.ConfirmPassword"></label>
                <input asp-for="RegisterViewModel.ConfirmPassword" class="form-control" value="sdfADF234!¤"/>
                <span asp-validation-for="RegisterViewModel.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Register"/>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @* Convention_ Feedback siktar på OnPostFeedback. *@
        <form asp-page-handler="Feedback" method="post">
            <div class="form-group">
                <label>Vad tycker du om vadsom? Vi vill veta!</label>
                <textarea name="message" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-secondary" value="Register" />
            </div>
        </form>
    </div>
</div>
