@page
@model IndexModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;
@{
    ViewData["Title"] = "EventHorizon";
}


@if (TempData["justLoggedIn"] != null && (bool)TempData["justLoggedIn"] && signInManager.IsSignedIn(User))
{
    <div class="row justify-content-center ">
        <div class="col-md-4 alert alert-success">
            User logged in.
        </div>
    </div>

}
else if (TempData["justLoggedOut"] != null && (bool)TempData["justLoggedOut"] && !signInManager.IsSignedIn(User))
{
    <div class="row justify-content-center">
        <div class="col-md-4 alert alert-secondary">
            User logged out.
        </div>
    </div>
}

    <div class="row justify-content-center">
        <div class="card border-dark" style="width: 40rem;">
            <div class="card-body">
                <div class="card-title">
                    <h1 class="display-4 text-center">
                        Welcome
                    </h1>
                </div>
                <div class="card-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vestibulum
                        elit vel sem pretium molestie vitae a nisl. Fusce at dui arcu. Maecenas scelerisque
                        id augue vitae dictum. Duis dapibus vehicula lorem ac maximus. Morbi sem nisi,
                        gravida id lacus vitae, finibus vulputate ipsum. Sed pellentesque fermentum felis,
                        nec venenatis lorem semper eu. Fusce quam quam, ultrices eget massa non, bibendum
                        ultrices purus. Integer interdum et ipsum nec sodales. Nunc auctor eros nec urna
                        luctus ultricies. Maecenas suscipit suscipit lorem, eu tempor mauris mattis sit
                        amet. Vestibulum convallis dolor vehicula turpis luctus aliquet. Proin velit nisi,
                        tempor a ex ut, egestas sagittis felis. Sed dapibus tellus nisl, a efficitur
                        metus cursus eu. Donec rutrum turpis dui, eget interdum libero feugiat a. Phasellus
                        consectetur tellus lacus, vel bibendum nisl sollicitudin non. Mauris sed porttitor dui.
                    </p>
                </div>

                @if (!signInManager.IsSignedIn(User))
                {
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col">
                                <a class="btn-primary btn-lg btn-block" asp-page="/AttendeePages/Register">
                                    Register
                                </a>
                            </div>
                            <div class="col">
                                <a class="btn-secondary btn-lg btn-block" asp-page="/AttendeePages/Login">
                                    Login
                                </a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>






